$light-blue: #0095a4;

$dark-blue: #2ccdc8;

* {
	font-family: "Open Sans", Sans;
}

#jumbo-negative {
	margin-top: -87px;
}

#nav-jumbo-container {
	position: relative;
}

@media (min-width: 900px) {
	.navbar {
		margin-left: 10%;
	}
}

.navbar .navbar-toggleable-md .navbar-light {
	position: absolute;
	background-color: white;
}

.navbar {
	position: absolute;
	background-color: white;
}

.nav-item {
	margin-top: auto;
	margin-bottom: auto;
	color: black;
	letter-spacing: 1px;
}

#nav-space {
	color: white !important;
}

.nav-link {
	color: black;
	font-weight: 600;
	font-size: 16px;
}

#search-btn {
	background-color: white;
}

#search-form {
	border-style: none;
	margin-left: 6px;
}

.fa{
	color: $light-blue;
}

#jumbo-overwrite {
	background-image: url("../../../img/banner.jpg");
	background-size: cover;
	height: 550px;
	margin-bottom: 0px;
	z-index: -10;
	position: relative;
}

h1, #main-title {
	color: white;
	font-family: "Open Sans", Sans;
	padding-top: 12%;
	margin-bottom: 64px;
	font-size: 42px;
	font-weight: 500;
} 

@media(max-width: 800px){
	#header-wrapper {
		max-width: 98%;
	}
	h1, #main-title {
		padding-top: 100px;
	}
}

#header-wrapper {
	position: relative;
	ul {
		position: absolute;
		margin-bottom: 0px;
		padding-bottom: 0px;
		bottom: 0px;
		right: 150px;
		list-style-type: none;
		li {
			float: right;
		}
	}
}

.btn-overwrite {
	border-radius: 0 !important;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#security-btn-column {
	padding-right: 0px;
}

#light-blue-background {
	background-color: $light-blue !important;
	width:276px;
	font-size: 20px;
}

@media(max-width: 400px) {
	#light-blue-background {
		font-size: 15px;
		padding-right: 0px;
		padding-left: 49px;
	}
	#blue-background {
		font-size: 15px;
	}
}

#blue-background {
	background-color: $dark-blue !important;
	margin-right: 30px;
}

#blue-underline {
	height:8px;
	background-color: $light-blue; 
}

#what-we-do {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
	font-family: "Open Sans", Sans;
	font-weight: 300;
	#bold {
		font-weight: 600;
	}
}

.standard-text {
	font-size: 14px;
	font-family: "Open Sans", Sans;
	.bold-text {
		font-weight: bold;
	}
}

.text-link {
	color: $light-blue;
	text-decoration: underline;
}

.link-collection {
	font-size: 13px !important;
	color: $light-blue !important;
	text-decoration: underline;
}

.comparison {
	font-size: 14px !important;
	color: $light-blue !important;
	padding-left: 5px;
	padding-right: 5px;
}

#twitter-logo {
	max-width: 50px;
	max-height: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.slideshow-column {
	display: flex;
	align-items: center;
}

* {box-sizing:border-box}

.slideshow-container {
	max-width: 350px;
	position: relative;
	margin-left: 0px;
}

.text {
	color: black;
	font-size: 15px;
	font-family: "Open Sans", Sans;
	font-weight: bold !important;
	padding: 8px 12px;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	margin-top: 4px;
}

.hover, .dot:hover {
	background-color: $dark-blue;
}

#logo-bar {
	background-color: $light-blue;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (max-width: 800px) {
	#crest-img-container {
		padding-left: 0px;
	}
	#tigerscheme-img {
		padding-top: 20px;
		padding-bottom: 40px;
		margin-left: 10%;
	}
}

@media (min-width: 900px) {
	#pci-img {
		padding-top: 10px;
	}
	#crest-img {
		height: 74px;
	}
} 

.bottom-row-logo {
	padding: 0 !important;
}

#logo-bar-underline {
	height:8px;
	background-color: black;
	margin-bottom: 35px;
}

#left-circle-column {
	padding-left: 0px;
}

#right-circle-column {
	padding-right: 0px;
}

#right-circle-img {
	float: right;
}

#contact-form {
	background-color: $dark-blue;
	margin-bottom: 25px;
}

legend { 
	padding-left: 20px !important;
	padding-top: 18px !important;
	width:inherit;
	height: inherit;
}

.form-group {
	padding-left: 20px;
	padding-right: 20px;
	textarea {
		width: 60%;	
		float: left;		
	}
}

.form-control {
	border-radius: 0 !important;
	margin-bottom: 15px;
}

#submit-button {
	border-radius: 0 !important;
	margin-left: 25px !important;
	width: 100px;
	height: 76px;
	background-color: $dark-blue;
	border-style: none;
	font-weight: 600;
}

.fa-paper-plane{
	color: white;
	padding-right: 7px;
}


#above-boldheading {
	height: 40px;
}

#bold-heading {
	#bolds {
		font-weight: 675 !important;
	}
}























